.backLink {
  padding: 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(12, 187, 53);
  text-decoration: none;
}

.listContainer {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(52, 232, 238);
}

.imgDetail {
  display: flex;
  border-radius: 30px;
  padding: 20px;
}
