.backLink {
  padding: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: rgb(155, 187, 12);
  text-decoration: none;
}

.listContainer {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(52, 232, 238);
}

.imgDetail {
  display: flex;
  border-radius: 30px;
  padding: 20px;
}

.headerDetail {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: rgb(52, 232, 238);
  margin-left: 40px;
}
