.formSection {
  text-align: center;
  background-color: black;
}

.formInput {
  text-align: center;
  padding: 8px;
  width: 300px;
  cursor: pointer;
  font-size: 15px;
  background-color: black;
  border-color: rgba(201, 230, 14, 0.941);
}
