.formSection {
  text-align: center;
  background-image: url("../images/universe.jpeg");
}

.formInput {
  text-align: center;
  padding: 8px;
  margin-bottom: 40px;
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  border-color: rgb(52, 232, 238);
}
